# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
allure-report
# don't lint nyc coverage output
coverage
# ignore the config of wdio
config
fiber-dependency
json-reports
junit-results
reports
selenium-drivers
zypher-poster.js

#ignore the features
features
